@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background: #EEE1B3;
    height: 100%;
    width: 100%;
}
.topnav{
    height: 50px;
    width: 100%;
    background-color:#996515;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    /* height: 110px; */
}

.topnav a:link{
    color: #e0d9bc;
}
.topnav a:visited{
    color: #e0d9bc;
}
.topnav div{
    color: white;
    width: 80%;
    /* height: 50px; */
}
.topnav div span{
    border-right:2px solid #945045;
}
 .topnav button{
    border: none;
    font-size: 20px;
    background-color: #8aa0b7; 
    height: 50px;   
    color: wheat;
    cursor: pointer;
    visibility: hidden;
 }
 .topnav2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0027;
    height: 110px;
 }
 .topnav2 div{
    width: 90%;
    display: flex;
 }
 .topnav2 div img {
        width: 130px;
        height: 100px;
    }
.topnav2 div ul{
    width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topnav2 div ul li{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: tahoma;
}
.topnav2Dis{
    display: none;
    justify-content: center;
    align-items: center;
    background-color:#0d0027;
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    animation: fadeIn 1s;
    height: 110px;

 }
 .overlay{
    position: absolute;
    background-color: #0d0027;
    top: -1px;
    left: 0;
    right: 0;
    z-index: 999999;
    height: 101px;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    transition: 400ms;
}
#welcOver{
    font-size: 20px;
    font-family:'Luxurious Script', cursive !important;
    width: 100%;
    text-align: center;
    color: gold;
    display: block !important;
    font-size: 30px;
}
#nameOver{
    color: white;
    font-size: 19px;
    font-weight: 800;
    text-align: center;
}
#okeOver {
    width: 600px !important;
    background: #ff6300;
    padding: 5px;
    text-align: center;
    display: block;
    border-radius: 20px;
    font-weight: 900;
    color: white;
    font-family: sans-serif ;
    font-style: italic;
}
.topnav2 a, .topnav2Dis a{
    color: #1E2F23;
    font-family: cursive;
    transition: 500ms;
}
.topnav2 a:link:hover, .topnav2Dis a:link:hover{
    text-decoration: underline;
    color: #945045;
}
.topnav2 a:visited:hover, .topnav2Dis a:visited:hover{
    text-decoration: underline;
    color: #945045;
}
.topnav2 a:link, .topnav2Dis a:link{
    text-decoration: none;
    color: #43a360;
}
.topnav2 a:visited, .topnav2Dis a:visited{
    text-decoration: none;
    color: #43a360;
}

 .topnav2Dis div{
    width: 90%;
    display: flex;
 }
 .topnav2Dis div img{
    width: 100px;
    height: 100px;
}
.topnav2Dis div ul{
    width:50% ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.topnav2Dis div ul li{
    display: inline-block;
    list-style-type: none;
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-family: tahoma;
}
/* This is the slider code */
.home {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./images/2a22f2ac-ac15-40af-aa59-a9b66b2f6bcf (1).jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.slide img{
    height: 600px;
    width: 100%;
}
.focus{
    background: #996515;
    padding: 2em;
    height: 100vh;
    color: white;

}
#foucsCont{
    width: 100%;
}
#banner{
    display: block;
    color: white;
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
    font-weight: 700;
}
.spicys {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    align-items: center;
    /* gap: 20px; */
    background: linear-gradient(to bottom, #07081d,#0c0a3c, #8836ba,#36219f);
    position: relative;
}
.spicysCardCont {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top:-10px ; */

}
.spicysCard {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    border-radius: 50%;
}
.spicysCard p {
    width: 220px;
    text-align: center;
    background: yellow;
    height: 40px;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif, Arial !important;
    border-radius: 20px;
}
.spicysCard div {
    width: 80%;
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-weight: 700;
}
#firstSpice{
    height: 300px;
    width: 300px;
    background: linear-gradient(to bottom, #000000, #440f11,#8a1c1f,#e73432);
}
#firstSpiceCont{
    height: 320px;
    width: 320px;
    margin-top: 30px;
    background: linear-gradient(to bottom, #e73432, #8a1c1f, #440f11, #000000); 
}
#secondSpiceCont{
    background: white;
    height: 320px;
    width: 320px;
    margin-top: -35px;
}
#secondSpice{
    height: 300px;
    width: 300px;
    background:  linear-gradient(to bottom, #010065,#002987,#007bc8,#02b9ff);
}
#secondSpice p {
    background: #ee3136 !important;
    color: yellow !important;
    width: 182px;
}
#thirdSpiceCont{
    background: linear-gradient(to bottom, #e73432, #8a1c1f, #440f11, #000000); 
    height: 170px;
    width: 320px;
    margin-top: -45px;
    margin-bottom: 100px;
}
#thirdSpice{
    height: 150px;
    width: 300px;
    background: linear-gradient(to bottom, #000000, #440f11,#8a1c1f,#e73432);
}
.spicefootnote{
    position: absolute;
    color: yellow;
    font-style: italic;
    bottom: 10px;
    text-align: center;
    font-weight: 700;
    margin-top: 40px;
    border-top: none;

}
.imgText{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 20px;
    color: #3cd396;
    font-family: monospace;
    text-transform: uppercase;
}
#focusContP {
    display: block;
    text-align: center;
    font-family: tahoma;
    font-size: 34px;
    font-weight: 500;
    margin: 20px 0;
    color: white;
}
.bannerFlex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.flex1{
    width: 50%;
    height: 400px;
    border: 1px solid black;
}
.flex1Det{
    text-align: justify;
    color: white;

}
.flex2{
    width: 30%;
    height: 400px;
    border: 1px solid black;
}
#flex1Detimg{
    width: 100%;
    height: 400px;
}
#flex2Detimg{
    width: 100%;
    height: 400px;
}
.academics{
    height: 100%;
    /* height: 100vh; */
    background: #253C78;
    color: gold;
}
.academics h2{
    text-align: center;
    font-family: tahoma;
    font-size: 40px;
    font-weight: 700;
    padding:70px 0 70px 0;
}
.acadInstCont{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    position: relative;
    overflow: hidden;
}
.acadInst{
    border: 2px solid#a15d48;
    width: 40%;
    height: auto;
    transition: 400ms;
    /* padding: 20px; */
}
.acadInst:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    transform: scale(1.02);
    border: 3px solid #a15d48;
}
.acadCont{

    padding: 10px;
    text-align: center;
}
/* carousell */
.test {
    font-family: "Source Sans Pro", sans-serif;
  }
  .test h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  ul,
  li,
  p,
  a {
    margin: 0;
    padding: 0;
  }
  .test h2 {
    font-size: 14px;
    color: #008ed6;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 32px;
    text-transform: uppercase;
    font-family: "Source Sans 3", sans-serif;
  }
  .test p {
    font-size: 18px;
    color: #999999;
    line-height: 27px;
  }
  
  .test .top h2 {
    margin-bottom: 18px;
  }
  .test .top h1 {
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
  }
  .test .top span {
    display: block;
    width: 48px;
    --c: linear-gradient(#008ed6 0 0);
    padding-bottom: 10px;
    background: var(--c), var(--c);
    background-size: 0 3px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: 0.3s linear, background-size 0.3s 0.2s linear;
  }
  
  .test {
    background-image: url(https://i.ibb.co/H4Xp8MD/testimonial.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 64px 0;
  }
  .test h2 {
    text-align: center;
  }
  .test h1 {
    text-align: center;
    color: #ffffff;
  }
  .test .top span {
    text-align: center;
    margin: 24px auto 0;
  }
  .test .text {
    margin-bottom: 84px;
  }
  .test:hover .top span {
    background-size: 40% 3px;
    background-position: 10% 100%, 90% 100%;
  }
  .test p {
    font-family: "Source Sans 3", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 32px;
    margin-bottom: 30px;
  }
  .test .person {
    display: flex;
    align-items: center;
    padding-bottom: 120px;
  }
  .test .title {
    margin-left: 24px;
  }
  .test .title h2{
    text-align: start;
  }
  .test h4 {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 12px;
  }
  .test .top h2 {
    margin-bottom: 18px;
  }
  .test .mobile-carousel{
    display: none;
  }
  .test .owl-carousel h2 {
    color: #ffffff;
    margin: 0;
  }
  .test .owl-carousel .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 60%;
    display: flex;
    justify-content: center;
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 70px !important;
    height: 70px !important;
    background: black;
    border-radius: 50%;
}
#border{
    font-size: 30px;
    color: #0d0027;
    font-weight: 800;
}
.title h4{
    color: #ffc107;
}
.m-auto {
    display: flex;
    margin: auto !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}
#noBorder {
    border-radius: auto !important;
    width: 110% !important;
    height: 284px !important;
    border-radius: 0;
    padding: 20px;
    background: none !important;
}
  .test .owl-carousel .owl-dots span {
    background: transparent;
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    transition: 0.3s all ease-in-out;
  }
  .test .owl-carousel .owl-dot.active span {
    transform: scale(1.5);
    transform-origin: center;
    background: #ffffff;
  }
/* carousell */
.info{
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#headerHead{
    font-size: 30px;
}
#homeDiv{
    text-align: center;
}
.curved-text {
    font-size: 24px;
    display: inline-block;
}

.curved-text span {
    display: inline-block;
    transform: rotate(-10deg); /* Adjust the rotation angle as needed */
    margin-right: 4px; /* Add spacing between letters */
}
.acadInstImg{

    height: 100px;
    width: 200px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.acadCont p{
    width: 100%;
    text-align: justify;
}
#staffs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:cursive ;
    font-size: 20px;
    color: #1E2F23;
}
#staffCont{
    width: 700px;
}
#staffCont img{
    border: 2px solid#a15d48;
    width: 700px;
}
#staffCont p{
        padding: 30px;
        text-align: center;
        color: gold;
        font-weight: bolder;
}
.thePrincipal{
    height: 400px;
    background: linear-gradient(#253C78,#0b1c47) ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: tahoma;
}
.prinCont{

    width: 70%;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}
.prinCont img {
    height: 250px;
    object-fit: cover;
    border: 5px solid wheat;
    border-radius: 50%;
    width: 270px;
}
.textCont h2{
    padding: 20px 0;
    font-size: 30px;
}
.textCont p{
    padding: 0 0 10px 0;
    text-align: justify;
}
.footer {
    width: 100%;
    border-top: 1px solid white;
    background: #0b1c47;
    color: white;
}
.footer a:link{
    color: #e0d9bc;
}
.footer a:visited{
    color: #e0d9bc;
}
.footnote{
    text-align: center;
    font-family: tahoma;
    border-top: 1px solid;
}
#footContact{
    padding: 20px 30px;
}

#footContact ul li{
    /* display: inline-block; */
    list-style-type: none;
    font-size: 15px;
    font-family: tahoma;
}



/* animations */
@keyframes fadeIn {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
}

/* responsive desgin */
@media screen and (max-width: 1000px){
    *{
        font-family: tahoma !important;
    }
    .topnav {
        height: 30px;
        font-size: 15px;
    }
    .topnav button {
        border: none;
        font-size: 15px;
        background-color: #8aa0b7;
        height: 30px;
    }
    .imgText{
        font-size: 15px;
        justify-content: unset !important;
    }
    .topnav2 div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2 div {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .topnav2Dis div img {
        height: 80px;
        width: 100px;
    }
    .topnav2Dis div ul li {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center
    }
    .acadInst {
        width: 80%;
        height: auto;
        transition: 400ms;
        padding: none;
    }
    .thePrincipal {
        height: 100%;
        padding: 40px 0;
    }
    .prinCont {
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }
    #footContact {
    /* padding: 10px 15px; */
    display: none;
    }
    #footContact h1 {
        font-size: 20px;
    }
}
@media screen and (max-width:800px) {
    .topnav div {
        color: white;
        font-size: 11px;
    }
    .topnav2 div {
        width: 100%;
    }
    #topnav2imgc{
        width: 90%;
    }
    .topnav2 div img {
        height: 80px;
        width: 100px;
    }
    .topnav {
        height: 30px;
        font-size: 12px;
    }
    .topnav2 div ul {
        width: 48%;
        gap: 0;
    }
    .topnav2 div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
    }

    .topnav2Dis div {
        width: 99%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .topnav2Dis div img {
        height: 80px;
        width: 100px;
    }
    .topnav {
        height: 30px;
        font-size: 10px;
    }
    .topnav2Dis div ul {
        width: 48%;
        gap: 0;
    }
    .topnav2Dis div ul li {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;

    }
    .imgText{
        font-size: 15px;
        justify-content: unset !important;
    }
    #banner {
        font-size: 30px;
    }
    #focusContP {
        font-size: 20px;
        font-weight: 500;
    }
    .focus {
        padding: 4em 10px;
        height: 100%;
    }   
        .bannerFlex {
            display: flex;
            justify-content: space-evenly;
            align-items: normal;
            flex-direction: column;
        } 
        .flex1 {
            width: 100%;
            height: auto;
            border: none;
            padding: 20px 0;
        }
        .flex2 {
            width: 100%;
            height: 400px;
            border: 1px solid black;
        }
        .flex2 h2 {
            text-align: center;
        }
        #staffCont img {
            border: 2px solid#a15d48;
            width: 100%;
        }
        .prinCont img {
            height: 250px;
            object-fit: cover;
            width: 270px;
            border-radius: 50%;
            border: 4px solid wheat;
        }
        .academics h2 {
            font-size: 25px;
        }
        .info {
            gap: 20px;
            padding: 2em 0;
            flex-direction: column;
        }
        .acadInstImg {
            height: 150px;
            width: 200px;
        }
        .textCont p {
            padding: 0 0 10px 0;
            font-size: 15px;
            text-align: justify;
        }
        .slide img{
            height: 300px;
            width: 100%;
        }
        .overlay{
            flex-direction: column;
            align-items: unset;
        }
        #nameOver {
            color: white;
            font-size: 14px;
            font-weight: 800;
        }
        #welcOver {
            font-size: 20px;
            font-family: 'Luxurious Script', cursive !important;
            width: 100%;
            /* text-align: center; */
            height: 30px;
            display: flex !important;
            color: gold;
            justify-content: center;
            font-size: 30px;
        }
        #okeOver {
            width: 70% !important;
            background: #ff6300;
            padding: 5px;
            text-align: center;
            display: block;
            font-size: 14px;
            border-radius: 20px;
            font-weight: 900;
            color: white;
            font-family: sans-serif;
            font-style: italic;
        }
        .spicysCard div {
            width: 80%;
            font-size: 17px;
            text-align: center;
            color: white;
            padding-top: 5px;
            font-weight: 700;
        }
        #firstSpiceCont {
            height: 280px;
            width: 280px;
        }
        #firstSpice {
            height: 260px;
            width: 260px;
            background: linear-gradient(to bottom, #000000, #440f11, #8a1c1f, #e73432);
        }
        #secondSpiceCont {
            height: 280px;
            width: 280px;
        }
        #secondSpice {
            height: 260px;
            width: 260px;
            background: linear-gradient(to bottom, #010065, #002987, #007bc8, #02b9ff);
        }
        #thirdSpiceCont {
            height: 150px;
            width: 280px;
        }
        #thirdSpice {
            height: 130px;
            width: 260px;
        }
        .spicysCard p{
            width: 220px;
            text-align: center;
            background: yellow;
            height: 32px;
            font-size: 22px;
        }
    }
    /* CSS HEX
 */